body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header {
  background-color: aqua;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body header article {
  font-family: roboto, sans-serif;
}
